*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}

.clearfix::after{
    content: "";
    display: table;
    clear: both;}

/* Fine setting di default */

/* INIZIO HEADER */

body{
    padding: 10px 50px;
}
header{

}
    
.menu-principale{
    margin-top: 20px;
}
.menu-principale li{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu-principale a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-variant: small-caps;
}
.menu-principale a{
    color: black;
}
.logo{
    height: 50px;
}


/* FINE HEADER */

/* INZIO MAIN
INIZIO PRIMA SECTION */

.img-1{
    display: block;
    background-image: url('./img/banner.jpg');
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    margin-top: 25px;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.testacommento{
    position: relative;
    top: 70%;
    left: 3%;
}

.paragrafocommento{
    position: relative;
    top: 71%;
    left: 3%;
}
header a:hover{
    background-color: aquamarine;
}

/* FINE PRIMA SECTION */

/* INIZIO SECONDA SEZIONE */

.row{
    margin-top: 25px;
    position: relative;
    display: block;
    margin: 25px;
}

.img-2sec{
    width: calc(100% / 3 );
    float: left;
    position: relative;
    border-radius: 25px;
  }
  
.img-2sec img{
    padding: 20px;
    height: 200px;
    max-height: max-content;
  }

.row h3{
    display: inline-block;
    font-size: 12px;
  }

.row p{
      font-size: 20px;
      }

footer{
    margin-top: 25px;
    padding:10px 10px;
    text-align: center;
}

.red{
    color: red;
    font-size: 27px;
}